<div class="d-flex">
  <div class="p-2 flex-grow-1">
    <h4 *ngIf="!isEdit">New Article</h4>
    <h4 *ngIf="isEdit">Edit Article</h4>
    <div class="d-flex">
      <div class="p-2 flex-grow-1">
        <form class="was-validated" [formGroup]="form" (ngSubmit)="save()">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              formControlName="title"
              placeholder="Title"
              [ngClass]="titleValidationClass"
            />
            <div class="invalid-feedback">
              {{
                form.controls.title.hasError("required") ? "Required field" : ""
              }}
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              formControlName="description"
              placeholder="Description"
              [ngClass]="descriptionValidationClass"
            />
            <div class="invalid-feedback">
              {{
                form.controls.description.hasError("required")
                  ? "Required field"
                  : ""
              }}
            </div>
          </div>
          <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea
              rows="6"
              class="form-control"
              id="body"
              formControlName="body"
              placeholder="Body"
              [ngClass]="bodyValidationClass"
            ></textarea>
            <div class="invalid-feedback">
              {{
                form.controls.body.hasError("required") ? "Required field" : ""
              }}
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              *ngIf="isLoading"
            ></span>
            Submit
          </button>
        </form>
      </div>
      <div class="p-2">
        <app-tag-manager
          (tagList)="tagListUpdate($event)"
          [loadedTags]="data?.tagList!"
        ></app-tag-manager>
      </div>
    </div>
  </div>
</div>
