<div class="d-flex">
  <div class="p-2 flex-grow-1">
    <h4>All Posts</h4>

    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Tags</th>
          <th scope="col">Excerpt</th>
          <th scope="col">Created</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let article of articles; index as i">
          <th scope="row">{{ (page - 1) * pageSize + i + 1 }}</th>
          <td>
            {{ article.title }}
          </td>
          <td>
            {{ article.author.username }}
          </td>
          <td>
            {{ article.tagList }}
          </td>
          <td>
            <span>{{ article.body | truncateText }}</span>
          </td>
          <td>
            {{ article.createdAt | date }}
          </td>
          <td>
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-info"
                id="action"
                ngbDropdownToggle
              >
                ...
              </button>
              <div ngbDropdownMenu aria-labelledby="action">
                <button ngbDropdownItem>Edit</button>
                <button
                  ngbDropdownItem
                  (click)="deleteHandler(confrimModal, article.slug)"
                >
                  Delete
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshArticles()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>

<ng-template #confrimModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Article</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <p>Are you sure to delete Article?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="modal.dismiss()">No</button>
    <button type="button" class="btn btn-danger" (click)="modal.close()">
      Yes
    </button>
  </div>
</ng-template>
