.container {
  max-width: 450px;
  background-color: #eceeef;
  padding: 20px;
  margin-top: 10%;
}

h1 {
  color: #707070;
  text-align: center;
}

.footer-section {
  padding-left: 15px;
  margin-top: 20px;
}

.footer-section strong {
  cursor: pointer;
}
