/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  font-family: HelveticaNeue;
}

#toast-container > div.toast-error {
  background-color: #e7cecd;
  color: #9f4f48;
  background-image: none;
  min-width: 450px;
  box-shadow: none;
}
