<app-header></app-header>
<div class="d-flex">
  <div class="p-2">
    <div id="sidebar">
      <nav>
        <ul
          ngbNav
          [activeId]="route.fragment | async"
          class="nav-pills"
          orientation="vertical"
        >
          <li [ngbNavItem]="link.link" *ngFor="let link of links">
            <a ngbNavLink [routerLink]="link.link">{{ link.title }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="p-2 flex-grow-1"><router-outlet></router-outlet></div>
</div>
